/* Transitions do transition-group (enter / leave / move) */
.slide-x-enter-from {
  opacity: 0 !important;
  transform: translateX(-12px) !important; /* vem da direita */
  overflow-x: hidden;
  scrollbar-width: none;
}
.slide-x-enter-active {
  transition: all 280ms cubic-bezier(0.2, 0.8, 0.2, 1) !important;
}
.slide-x-enter-to {
  opacity: 1 !important;
  transform: translateX(0) !important;
}

.slide-x-leave-from {
  opacity: 1 !important;
  transform: translateX(0) !important;
}
.slide-x-leave-active {
  transition: all 240ms cubic-bezier(0.2, 0.8, 0.2, 1) !important;
}
.slide-x-leave-to {
  opacity: 0 !important;
  transform: translateX(-12px) !important; /* sai para a esquerda */
}

/* para reordenações */
.slide-x-move {
  transition: transform 240ms cubic-bezier(0.2, 0.8, 0.2, 1) !important;
}
