.pagination-container {
  display: flex;
  justify-content: center;
}

.paginate-buttons {
  transition: ease-in-out 3ms;
  height: 40px;
  color: rgba(13, 71, 161, 1);
  width: 40px;
  border: none;
  margin-inline: 5px;
  cursor: pointer;
}

.paginate-buttons:hover {
  transition: ease-in-out 3ms;
  background-color: #d8d8d8;
  border-radius: 8px;
}

.active-page {
  background-color: rgba(13, 71, 161, 1) !important;
  color: white;
  border-radius: 8px;
}

.active-page:hover {
  background-color: none;
  border-radius: 8px;
}
