.v-data-table__td {
  padding: 9px 16px !important;
  height: 44px !important;
  background-color: #f8f8f8;
  color: #6d6d6d;
}

.v-table__wrapper table {
  table-layout: fixed;
}

.v-data-table-rows-no-data {
  height: 400px;
}
